.section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -2px;
  display: flex;
  align-items: baseline;
  .bottom-line {
    border-bottom: 5px solid var(--x-text);
    flex: 1;
    margin-left: 5px;
  }
}

.cards {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
}

.empty-list {
  text-align: center;
  .empty-icon {
    width: 50%;
    max-width: 400px;
  }
}
