<div class="movie-card-wrapper">
  <div class="thumb">
    <img src="https://i.pinimg.com/736x/b9/b3/58/b9b358d014aebceba8637884c485711d.jpg" alt="">
  </div>
  <div class="info mt-2">
    <div class="mw-50">
      <div class="fw-6 text-ellipsis">Pulp Fiction</div>
      <div class="genre">Action</div>
    </div>
    
    <div class="rating">
      <div style="display: flex;align-items: baseline;">
        <span class="fs-18 fw-6">8.2/</span>
        <span>10</span>
      </div>
      <img src="assets/icons/star.svg" alt="star">
    </div>
  </div>
</div>
