.container {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
}

.grid {
  width: 100%;
  .row {
    margin: 0 -20px;
    display: flex;
    .col {
      padding: 0 20px;
      &-1 {
        width: 8.33%;
      }
      &-2 {
        width: 16.67%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33%;
      }
      &-5 {
        width: 41.67%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.33%;
      }
      &-8 {
        width: 66.67%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33%;
      }
      &-11 {
        width: 91.67%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
}

.text-ellipsis {
  max-width: 100%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button {
  border: 1px solid var(--x-text);
  border-radius: 5px;
  padding: 10px 15px;
  background-color: var(--x-primary);
  cursor: pointer;
  &:hover {
    background-color: var(--x-primary-hover);
  }
}

// Glidejs
.glide__bullets {
  bottom: -2rem!important;
  .glide__bullet {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &--active {
      background-color: var(--x-text);
    }
  }
}
