@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

html {
  --x-light: #E9E9ED;
  --x-primary: #E6A728;
  --x-text: #333333;
}

body {
  font-family: "Maven Pro", sans-serif;
}

div, span, p {
  color: var(--x-text);
  margin: 0;
  padding: 0;
}
