<div class="movie-card-wrapper">
  <div class="thumb">
    <img [src]="movie.poster_path | movieImage" [alt]="movie.title" loading="lazy">
  </div>
  <div class="info mt-3">
    <div class="mw-50">
      <div class="title fw-6 text-ellipsis">{{movie.title}}</div>
      <div class="genre text-ellipsis">{{movie.genre_ids | genreShortLabel}}</div>
    </div>
    
    <div class="rating ml-1">
      <div style="display: flex;align-items: baseline;">
        <span class="fs-18 fw-6">{{movie.vote_average | number : '1.2-2'}}/</span>
        <span>10</span>
      </div>
      <img src="assets/icons/star.svg" alt="star">
    </div>
  </div>
</div>
