<div class="top-rated-movie-wrapper">
  <div class="section-title">
    <span>Top rated</span>
    <div class="bottom-line"></div>
  </div>

  <div class="glide cards-slide mt-4">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide card-wrapper">
          <div class="card-desc">
            <div class="name">The Godfather</div>
            <div class="rating-info">
              <img src="assets/icons/star.svg" alt="star">
              <div>
                <p>
                  <span class="fs-18 fw-6">8.2/</span>
                  <span>10</span>
                </p>
                <p>399k</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
      <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
  </div>
</div>
