<div class="top-rated-movie-wrapper">
  <div class="section-title">
    <span>Top rated</span>
    <div class="bottom-line"></div>
  </div>

  <div class="cards mt-4">
    <div class="card-wrapper">
      <div class="card-desc">
        <div class="name">The Godfather</div>
        <div class="rating-info">
          <img src="assets/icons/star.svg" alt="star">
          <div>
            <p>
              <span class="fs-18 fw-6">8.2/</span>
              <span>10</span>
            </p>
            <p>399k</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
